#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --bg-primary: #0f0f11;
  --bg-light: #63635a;
  --border-radius: 0.75rem;
  --white-border: 1px solid #fff;

  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Lucida Console", Monaco, monospace;
}



.app {
  @media screen and (min-width: 768px) {
    font-size: 125%;
  }
}

a, a span, a div {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: #00ec9d;
    transition: color 0.5s;
  }
}

.primary-btn {
  cursor: pointer;
  text-shadow: none;
  text-transform: capitalize;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--bg-light);
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
}

.gray-card {
  font-family: "Lucida Console", Monaco, monospace;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  /* font-weight: bold; */
  color: white;
  text-shadow: 2px 2px 1px rgba(26, 26, 26, 0.9); /* Optional: Add text shadow */
  /* Noise pattern */
  /* background: url(/noise-pattern.svg); */
  backdrop-filter: blur(20px);
  /* background-color: var(--bg-light); */
  /* border: 2px solid #fff; */
  background-color:rgba(0, 60, 19, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.144),
    inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}

.rounded-card {
  border-radius: 10px;
  overflow: hidden;
}

.bevel {
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5),
    inset -0.2em -0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
}

.command-list {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.active {
  font-weight: bold;
}

.link-card {
  background-color: var(--bg-light);
  border: 1px solid #fff;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.144),
    0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a .bevel:focus,
a .gray-card:focus,
a .bevel:hover,
a .gray-card:hover {
  background-color: rgba(0, 60, 19, 0.9);
  transition: background-color 0.5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}